[submodule "vendor/mal"]
	path = archive/vendor/mal
	url = https://github.com/kanaka/mal
[submodule "vendor/ChezScheme"]
	path = archive/vendor/ChezScheme
	url = https://github.com/cisco/ChezScheme.git
